<div id="covid-advice">
	<section>
		<img src="https://cslrsna.org/logo_na_white/" alt="" id="covid_logo">
		<h1>Chaque groupe devrait être autonome, sauf sur des sujets affectant d’autres groupes ou NA dans son ensemble. <small>4ième Tradition</small></h1>
		<h4>Aidez-nous à protéger le bien-être commun de notre fraternité et celui de nos membres.</h4>
		<h4>Le port du couvre-visage est obligatoire en tout temps. Cependant :
			<ul>
				<li>Le couvre-visage est obligatoire en tout temps.</li>
				<!--<li>les personnes qui sont assises à une distance d’un 1 mètre peuvent retirer leur couvre-visage pourvu qu’elles demeurent silencieuses ou ne s’expriment qu’à voix basse.</li>
				<li>Donc, lors des discussions le port du couvre-visage est obligatoire à 1 mètre mais optionnel à 2 mètres et ce dans les 2 cas (lieux de culte ou salles communautaires).</li>-->
			</ul>
		</h4>
		<h2>Tous groupes ou événements de Narcotiques Anonymes qui ne respectent pas les mesures sanitaires seront fermés.</h2>
		<button><a href="https://cslrsna.org/procedures-obligatoires-vert" target="_blank">Lire le communiqué de la région à ce sujet.</a></button>
		<br><hr>
		<form action="javaScript:covid_advice()" name="covid_advice">
		
			<label for="covid_validation" id="covid_validation"><input type="checkbox"  name="covid_validation" value="1"> J'accepte de respecter les mesures sanitaires.</label>
		
		<input type="submit" value="Aller sur le site du CSL Rive-Sud">
		</form>
	</section>
</div>